---
import { SOCIAL_LINKS } from "@src/Data"
import { Icon } from "astro-icon"

const today = new Date()
---

<footer>
  <ul class="social-links-footer">
    {
      SOCIAL_LINKS.map((link) => {
        return (
          <li>
            <a
              href={link.url}
              target="_blank"
              rel="noreferrer"
              class="text-gray-100 hover:text-orange-400 transition ease-linear delay-100"
            >
              <Icon name={link.icon} class="w-[20px] h-[20px] mr-2" />
            </a>
          </li>
        )
      })
    }
  </ul>
  <div class="inline-flex justify-start w-full pt-3">
    &copy; Copyright {today.getFullYear()} by Dmitriy Kagno.
    <br />
    All Rights Reserved.
  </div>
</footer>

<style>
  .social-links-footer {
    @apply inline-flex list-none gap-5 justify-end w-full border-t border-gray-600 pt-3 mt-3;
  }
</style>
