---
import { SOCIAL_LINKS } from "@src/Data"
import { Icon } from "astro-icon"

// TO-DO Add Themes to this header
---

<section class="px-3">
  <ul class="nav-list">
    {
      SOCIAL_LINKS.map((link) => {
        return (
          <li>
            <a
              href={link.url}
              target="_blank"
              rel="noreferrer"
              class="social-links-header"
            >
              <Icon class="w-[20px] h-[20px] mr-2" name={link.icon} />
              <span class="hidden md:inline tracking-[0.2rem]">
                {link.title}
              </span>
            </a>
          </li>
        )
      })
    }
  </ul>
</section>

<style>
  .nav-list {
    @apply justify-end inline-flex md:justify-start list-none gap-5 font-semibold uppercase w-full;
  }

  .social-links-header {
    @apply text-gray-100 hover:text-orange-400 text-lg inline-flex items-center justify-end transition ease-linear delay-100;
  }
</style>
