---
import { ABOUT_ME, AVATAR as image } from "@src/Data"
const { description, name, currentJob } = ABOUT_ME
---

<section
  class="flex flex-col md:flex-row justify-between items-center px-3 mb-8 md:mt-8"
>
  <img
    class="h-72 w-72 rounded-full object-cover shadow-black shadow-xl m-8"
    src={image.src}
    alt="Dmitriy_Kagno_Avatar"
  />
  <div class="flex flex-col items-start w-full md:w-auto">
    <div class="flex flex-col justify-start md:justify-center">
      <span class="flex items-end text-2xl pb-2">
        <img src="/hand_wave.gif" class="h-10 mr-3" />
        <span>Hi There, I'm</span>
      </span>
      <h1 class="flex text-7xl pb-2 w-full">
        <span
          class="bg-clip-text pb-2 text-fill-transparent animate-linear bg-gradient-to-r from-red-700 via-orange-400 to-yellow-300"
          >{name}</span
        >
      </h1>
      <hr class="border-zinc-600" />
    </div>
    <ol class="text-base sm:list-[circle] list-inside">
      {
        description.map((line) => {
          return (
            <li class="my-3 tracking-wide">
              {!line.includes("@") ? (
                line
              ) : (
                <>
                  {line.slice(0, line.indexOf("@"))}
                  <a
                    class="text-sky-400 hover:text-sky-600"
                    href={currentJob.url}
                    target="_blank"
                    rel="noreferrer"
                  >
                    @{currentJob.name}
                  </a>
                </>
              )}
            </li>
          )
        })
      }
    </ol>
  </div>
</section>
