---
import { TOOL_BOX as TECHNOLOGIES } from "@src/Data"
import Title from "./Title"
---

<section class="flex flex-col justify-between py-6 px-3 mb-8 group/section">
  <h2 class="mb-4 text-3xl tracking-tight">
    <Title title="Technologies" client:visible />
  </h2>
  <p class="w-full mb-8 font-normal leading-7">
    I love exploring new libraries, programming languages and frameworks.
    <br />
    Here is a list of technologies that I use for work and side projects.
  </p>
  <div class="grid grid-cols-1 gap-1 sm:grid-cols-2 md:grid-cols-3">
    {
      TECHNOLOGIES.map((tech) => {
        return (
          <div class="tech flex items-center gap-4 p-3 rounded-full group/tech border-zinc-800 border-b hover:border-orange-400 transition-all duration-500">
            <div class="w-20 h-14 flex items-center justify-center border-t-2 shadow-black shadow-md border-zinc-600 group-hover/tech:border-orange-400 rounded-full transition-all duration-500">
              <img class="w-8" alt={tech.title} src={tech.icon} />
            </div>

            <p class="text-lg w-full">{tech.title}</p>
          </div>
        )
      })
    }
  </div>
</section>

<style>
  .tech:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.9) 0px 18px 36px -18px inset;
  }
</style>
