---
import { AVATAR, SITE_DESCRIPTION, SITE_TITLE } from "@src/Data"
import MetaTags from "@src/components/MetaTags.astro"
---

<!DOCTYPE html>
<html lang="en">
  <!-- Meta Tags -->
  <head>
    <MetaTags
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      image={AVATAR}
    />
    <script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>

  <body>
    <slot />
  </body>
</html>
